@import "../global/mixins";
@import "../global/variables";

.header {
  @include grid(82px 1fr);

  width: 100vw;
  gap: 4px;
}

.header__logo {
  grid-area: 1/1/2/2;
  display: block;
  margin: 21px 15px 0;

  @media (min-width: $tab) {
    margin: 32px 45px 0;
  }

  @media (min-width: $desk) {
    margin: 32px 100px 0;
  }
}

.header__toggler {
  grid-area: 1/1/2/3;
  align-self: center;
  min-width: 136px;
  min-height: 54px;
  margin: 20px 15px 0 auto;
  padding: 3px 4px 3px 20px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.28px;
  transition: all 0.3s;

  @media (min-width: $tab) {
    min-height: 56px;
    margin: 30px 45px 0 auto;
    gap: 20px;
  }

  @media (min-width: $desk) {
    margin: 30px 100px 0 auto;
  }
}

.header__toggler::before {
  top: 0;
  width: 46px;
  height: 46px;

  @media (min-width: $tab) {
    left: 0;
  }
}

.header__toggler::after {
  top: 0;
  left: 14px;
  width: 18px;
  height: 8px;
  mask-size: 18px 8px;
  mask-image: url("/__spritemap#sprite-burger-view");
}

.header__toggler:hover::after,
.header__toggler:active::after,
.header__toggler:focus::after {
  transform: unset;
}

.header__toggler--opened {
  z-index: 1;
  min-width: 291px;
  margin: 20px 15px 0 auto;
  padding: 3px 4px 3px 19px;
  color: $light;
  background-color: $bright;
  transition: all 0.3s;

  @media (min-width: $tab) {
    margin: 30px 45px 0 auto;
  }

  @media (min-width: $desk) {
    margin: 30px 100px 0 auto;
  }
}

.header__toggler--opened::before {
  background-color: $light;
}

.header__toggler--opened::after {
  top: 0;
  left: 14px;
  width: 18px;
  height: 18px;
  mask-size: 18px 18px;
  mask-image: url("/__spritemap#sprite-cross-view");
  background-color: $bright;
}

.header__nav {
  grid-area: 2/1/3/3;
  z-index: 1;
  width: 290px;
  height: 0;
  background-color: $bright;
  margin: 0 16px 0 auto;
  padding: 0 25px;
  border-radius: 16px;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.3s;

  @media (min-width: $tab) {
    margin: 0 45px 0 auto;
  }

  @media (min-width: $desk) {
    margin: 0 100px 0 auto;
  }
}

.header__toggler--opened + .header__nav {
  height: auto;
  padding: 33px 25px;
  visibility: visible;
}

.header__list {
  @include reset;
  @include grid;

  width: 100%;
  height: 100%;
  gap: 24px;
}

.header__item {
  @include grid;
}

.header__link,
.header__button {
  display: block;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: $light-trans-70;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__button {
  @include flex(wrap, unset);

  gap: 10px;
}

.header__button::after {
  @include pseudo;
  @include svg("half-arrow", "mask", $light);

  position: relative;
  top: 4px;
  width: 12px;
  height: 8px;
  background-color: $light-trans-60;
}

.header__sublist {
  @include reset;
  @include grid;

  width: 100%;
  height: 0;
  gap: 12px;
  margin: 0;
  padding: 0 0 0 16px;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.3s;
}

.header__sublink {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $light-trans-60;
}

.header__button--opened + .header__sublist {
  height: fit-content;
  visibility: visible;
  margin: 16px 0 0;
}

.header__button--opened::after {
  transform: rotate(180deg);
  background-color: $light;
}

.header__link:hover,
.header__button:hover,
.header__sublink:hover,
.header__link:focus,
.header__button:focus,
.header__sublink:focus,
.header__link:active,
.header__button:active,
.header__sublink:active {
  color: $light;
}

.header__button:hover::after,
.header__button:focus::after,
.header__button:active::after {
  background-color: $light;
}
