@import "../global/mixins";
@import "../global/variables";

.news {
  @include grid(1fr 290px 1fr);

  grid-template-rows: repeat(auto-fit, minmax(43px, auto) minmax(60px, auto) minmax(340px, auto));
  // grid-template-rows: repeat(auto-fit, minmax(43px, auto) minmax(60px, auto) minmax(640px, auto));
  align-items: start;
  margin: 0 auto;
  padding: 51px 0 50px;

  outline: 1px solid red;

  @media (min-width: $tab) {
    grid-template-columns: 1fr 678px 1fr;
    grid-template-rows: repeat(auto-fit, minmax(80px, auto) minmax(58px, auto) minmax(368px, auto) minmax(44px, auto));
    padding: 50px 0 50px;
    min-height: 1048px;
  }

  @media (min-width: $desk) {
    grid-template-columns: 1fr 1240px 1fr;
    grid-template-rows: repeat(auto-fit, minmax(90px, auto) minmax(86px, auto) minmax(368px, auto) minmax(44px, auto));
    padding: 60px 0 50px;
    min-height: 768px;
  }
}

.news > * {
  grid-column: 2/3;
}

.news__title {
  grid-area: 1/2/2/3;
  margin: 0 auto;
  text-align: center;
}

.news__tabs {
  @include flex(nowrap);

  grid-area: 2/2/3/3;
  gap: 10px;

  @media (min-width: $tab) {
    position: relative;
    left: 5px;
    align-items: center;
    gap: 6px;
  }

  @media (min-width: $desk) {
    gap: 14px;
    left: 6px;
    min-width: 720px;
    margin: 0 auto;
  }
}

.news__tab {
  padding: 11px 15px 9px 14px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: $bright-trans-60;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  cursor: pointer;

  @media (min-width: $tab) {
    padding: 14px 20px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }

  @media (min-width: $desk) {

  }
}

.news__tab--intership {
  position: relative;
  left: -3px;

  @media (min-width: $tab) {
    left: 0;
  }
}

.news__tab:hover {
  color: $bright;
  border: 2px solid transparent;
}

.news__tab:focus {
  color: $bright;
  background-color: $light;
  border: 2px solid $light;
}

.news__tab--active {
  color: $bright;
  background-color: $common;
  border: 2px solid $bright;

  @media (min-width: $tab) {
    position: relative;
    left: -3px;
  }

  @media (min-width: $desk) {
    left: 0;
    padding: 14px 33px;
  }
}

.news__container {
  @include grid;

  grid-area: 3/2/4/3;
}

.news__slider {
  grid-area: 1/1/2/2;
  height: 590px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tab) {
    flex-direction: row;
  }

  @media (min-width: $desk) {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.news__slide {
  @include grid;

  width: 290px;
  height: 240px;
  align-items: end;
  visibility: hidden;

  @media (min-width: $tab) {
    width: 324px;
    height: 350px;
  }

  @media (min-width: $desk) {
    width: 286px;
    height: 400px;
  }
}

.news__slide--full {
  visibility: visible;
}

.news__slide--active {
  height: 330px;

  @media (min-width: $desk) {
    width: 604px;
    height: 400px;
  }
}

.news__content {
  @include grid;

  grid-area: 1/1/2/2;
}

.news__content * {
  background-color: $common;
}

.news__content > *:nth-child(1),
.news__content > *:nth-child(2),
.news__content > *:last-child {
  position: relative;
}

.news__content > *:nth-child(1)::after,
.news__content > *:nth-child(2)::after,
.news__content > *:last-child::after {
  @include pseudo;
  @include svg("angle", "mask", $common);
  @include angle(16);
}

.news__content > *:nth-child(2)::before {
  @include pseudo;
  @include svg("angle", "mask", $common);
  @include angle(16);

  right: unset;
  bottom: unset;
  left: 0;
  top: -16px;
}

.news__subtitle {
  order: -1;
  width: 200px;
  margin: 0;
  padding: 10px 18px 4px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $bright;
  border-radius: 0 12px 0 0;

  @media (min-width: $tab) {
    width: 207px;
    padding: 11px 18px 5px 0;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desk) {
    font-size: 24px;
    line-height: 26px;
  }
}

.news__date {
  order: -2;
  width: fit-content;
  padding: 13px 12px 5px 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: $bright;
  border-radius: 0 12px 0 0;
}

.news__date--beach {
  padding: 13px 13px 5px 0;
}

.news__cms {
  @include grid(1fr auto);

  align-items: end;
  width: 263px;
  gap: 10px;
  padding: 13px 10px 9px 0;
  border-radius: 0 12px;

  @media (min-width: $tab) {
    width: 240px;
    padding: 12px 18px 15px 0;
  }
}

.news__cms--beach {
  padding: 0px 10px 10px 0;
}

.news__cms * {
  display: block;
  grid-column: 1/2;
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

  @media (min-width: $tab) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desk) {
    line-height: 18px;
  }
}

.news__link {
  grid-column: 2/3;
  height: fit-content;
  margin: 4px 0 0;
}

.news__link--beach {
  position: relative;
  top: 7px;
}

.news__link::before {
  top: 1px;
}

.news__link::after {
  top: -18px;
}

.news__picture {
  grid-area: 1/1/2/2;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 12px;
}

.news__image {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.news__button {
  grid-area: 2/1/3/2;
}

.news__pagination {
  @include flex(nowrap, center);

  grid-area: 2/1/3/2;
  width: 152px;
  margin: 24px 0 0 73px;
}

.news__button--prev {
  transform: rotate(180deg);
  margin: 26px 0 0 1px;
}

.news__button--next {
  margin: 26px 0 0 267px;
}

.news__bullet {
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  padding: 0 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  color: $bright-trans-50;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tab) {
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 20px;
  }
}

.news__bullet:has(+*) {
  margin: 0 16px 0 0;
}

.news__bullet:hover {
  color: $bright;
  background-color: transparent;
  border: 2px solid $bright;
}

.news__bullet:focus {
  color: $bright;
  background-color: $light;
  border: 2px solid $bright;
}

.news__bullet:active {
  color: $light;
  background-color: $dark-bright;
  border: 2px solid $dark-bright;
}

.news__bullet--active {
  color: $light;
  background-color: $bright;
}

.news__bullet--active-main {
  display: inline-flex;
}

.news__bullet--active:has(+.news__bullet--active-next) {
  display: inline-flex;
}
