@import "../global/fonts";
@import "../global/variables";

.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: $main;
  background-color: $common;
  min-width: $mob;
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;

  @media (min-width: $tab) {
    min-width: $tab;
  }

  @media (min-width: $desk) {
    min-width: $desk;
  }
}

.page__main {
  grid-area: 1/1/2/2;
  width: 100%;
}

.page__footer {
  grid-area: 2/1/3/2;
}

.page__overlay {
  position: fixed;
  width: 100vw;
  height: 0;
  z-index: 1;
  background-color: $cloudy-trans-40;
  transition: all 0.1s;
}

.page__overlay--active {
  height: 100vh;
}

.page__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: $bright;

  @media (min-width: $tab) {
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desk) {
    font-size: 50px;
  }
}

.page__title--alter {
  color: $light;
}

.page__button {
  @include grid(1fr auto);

  align-items: center;
  position: relative;
  gap: 20px;
  width: fit-content;
  min-height: 44px;
  padding: 4px 4px 3px 20px;
  color: $bright;
  background-color: $light;
  border: 1px solid $bright;
  border-radius: 30px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  word-break: break-all;
  cursor: pointer;

  @media (min-width: $tab) {
    min-height: 56px;
    gap: 31px;
    padding: 4px 3px 4px 30px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }

  @media (min-width: $desk) {
    min-height: 58px;
    gap: 32px;
  }
}

.page__button::before {
  @include pseudo;

  position: relative;
  top: -1px;
  grid-area: 1/2/2/3;
  width: 34px;
  height: 34px;
  background-color: $bright;
  border-radius: 50%;

  @media (min-width: $tab) {
    top: 0;
    left: -1px;
    width: 46px;
    height: 46px;
  }

  @media (min-width: $desk) {
    left: -2px;
  }
}

.page__button::after {
  @include pseudo;
  @include svg("arrow", mask);

  position: relative;
  top: -1px;
  left: 13px;
  grid-area: 1/2/2/3;
  width: 8px;
  height: 8px;
  background-color: $light;
  mask-size: 18px 8px;

  @media (min-width: $tab) {
    top: 0;
    left: 18px;
  }

  @media (min-width: $desk) {
    left: 17px;
  }
}

.page__button:hover {
  color: $light;
  background-color: $bright;
}

.page__button:focus {
  color: $bright;
  background-color: $light;
}

.page__button:active {
  color: $light-trans-70;
  background-color: $bright;
}

.page__button:disabled,
.page__button--disabled {
  color: $stormy;
  background-color: $light-trans-60;
  border: 1px solid $stormy;
  cursor: default;
}

.page__button:hover::before {
  background-color: $light;
}

.page__button:hover::after {
  background-color: $bright;
  transform: rotate(45deg);
}

.page__button:focus::before {
  background-color: $bright;
}

.page__button:focus::after {
  background-color: $light;
  transform: rotate(45deg);
}

.page__button:active::before {
  background-color: $light;
}

.page__button:active::after {
  background-color: $bright-trans-70;
  transform: rotate(45deg);
}

.page__button:disabled::before,
.page__button--disabled::before {
  background-color: $stormy;
}

.page__button:disabled::after,
.page__button--disabled::after {
  background-color: $light-trans-60;
}
