@import "../global/variables";

@mixin font($font_name, $file_name, $weight: 400, $style: normal) {
  @font-face {
    font-family: #{$font_name};
    font-style: #{$style};
    font-weight: #{$weight};
    src: url("../fonts/#{$file_name}.woff2") format("woff2");
    font-display: swap;
  }
}

@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin pseudo($content: "", $display: block) {
  content: $content;
  display: $display;
}

@mixin svg($name, $type: "background", $color: null) {
  #{$type}-repeat: no-repeat;
  #{$type}-position: center;
  #{$type}-size: contain;
  #{$type}-image: url("/__spritemap#sprite-#{$name}-view");

  @if $color {
    background-color: $color;
  }
}

@mixin angle($size: 10, $deg: 0) {
  position: absolute;
  right: -#{$size}px;
  width: #{$size}px;
  height: #{$size}px;
  transform: rotate(#{$deg}deg);

  @if $deg == 0 {
    bottom: 0;
  }

  @else {
    top: 0;
  }
}

@mixin flex($wrap: wrap, $justify: space-between) {
  display: flex;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin grid($first-column: 1fr, $second-column: null, $third-column: null, $fourth-column: null, $fifth-column: null, $sixth-column: null, $seventh-column: null, $eighth-column: null, $nineth-column: null, $tenth-column: null) {
  display: grid;
  grid-template-columns: $first-column, $second-column, $third-column, $fourth-column, $fifth-column, $sixth-column, $seventh-column, $eighth-column, $nineth-column, $tenth-column;
}

// @mixin btn($text: "false") {
//   @if $text == "true" {
//     background-color: red;
//   }
// }
