$mob: 320px;
$tab: 768px;
$desk: 1440px;
$main: #484848;
$light: #ffffff;
$bright: #316dc2;
$common: #f0efe9;
$alert: #ff5e66;
$dark-bright: #275699;
$stormy: #a9afb7;
// $cloudy: #d9d9d9;
$bright-trans-20: rgba(49, 109, 194, 0.20);
